# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Added by Evan J to test slow cloning due to large files
*.sql -delta
*.zip -delta
*.jpg -delta
*.gif -delta
*.png -delta
*.doc -delta
*.docx -delta
*.pdf -delta
*.ma -delta
*.mb -delta
*.mp4 -delta
*.mov -delta
